<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <script src="https://kit.fontawesome.com/125aca993d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>Jeongstargram</title>
</head>
<style>

    .top_menu {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 1;
    }

    .feed_box {
        background-color: white;
        width: 480px;
        margin: 10px;
        height: 3000px;
    }

    .feed_img {
        width: 100%;
        object-fit: contain;
    }

    .feed_content {
        padding: 0px 10px;
    }

    .feed_like {
        padding: 0px 10px;
    }

    .feed_reply {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
    }


    .feed_txt {
        font-size: 14px;
    }

    .feed_icon {
        padding: 5px 5px 0px 5px;
        display: flex;
        justify-content: space-between;
    }

    span {
        padding-right: 5px;
    }

    .main_body {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .left_body {
        margin-right: 100px;
        width: 500px;
        height: 2000px;
        display: flex;
        flex-direction: column;
    }

    .right_body {
        background-color: darkcyan;
        width: 300px;
        height: 1000px;
        left: 72%;
        position: fixed /* 스크롤내려도 화면에 고정 */
    }


    .feed_name {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .feed_name_txt {
        font-size: 14px;
        padding: 0px 10px;
        font-weight: bold;
    }

    .profile_box {
        width: 40px;
        height: 40px;
        border-radius: 70%;
        overflow: hidden;
    }

    .profile_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

</style>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light top_menu">
    <div class="container">
        <img style="height: 30px; object-fit: contain"
             src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
        <input class="form-control" style="width: 200px" type="search" placeholder="Search" aria-label="Search">
        <div class="notranslate">
            <span class="material-icons ">home</span>
            <span class="material-icons">send</span>
            <span class="material-icons-outlined">add_box</span>
            <span class="material-icons-outlined">explore</span>
            <span class="material-icons-outlined">favorite_border</span>
        </div>
    </div>
</nav>
<div class="main_body">
    <div class="left_body">
        <div class="border feed_box">
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpiXTTuZETYY_Tym-zRCVhUXPEl_cioSn3Bg&usqp=CAU">
                </div>
                <span class="feed_name_txt"> Jeong.hoo </span>
            </div>
            <div class="feed_img">
                <div id="carouselExampleIndicators" class="carousel slide perimage" data-bs-touch="true"
                     data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe4W1WYZPsMqeA7_DX7xgWkK3FwVr4pao8hw&usqp=CAU"
                                 class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FTtWT5%2FbtrAMte5u3v%2F3DG6Qh3tYomYdWQeh8d5K1%2Fimg.jpg"
                                 class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcTR4Q1o5modKSjWSMpJw0ubPHm7HSpYcm4g&usqp=CAU"
                                 class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="feed_icon">
                <div class="notranslate">
                    <span class="material-icons-outlined">favorite_border</span>
                    <span class="material-icons-outlined">mode_comment</span>
                    <span class="material-icons-outlined">send</span>
                </div>
                <div class="notranslate">
                    <span class="material-icons-outlined">turned_in_not</span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"><b>좋아요 23개</b></p>
            </div>
            <div class="feed_content">
                <p class="feed_txt"><b> Jeong.hoo </b> 이시대의 꽃미남 정후의 달래입니다</p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b> mychew </b> 너무귀여워요 ㅠㅠ</span>
                <span class="feed_txt"> <b> cho </b> 사진더 ㄱ ㄱ </span>
            </div>
        </div>
        <div class="border feed_box">
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpiXTTuZETYY_Tym-zRCVhUXPEl_cioSn3Bg&usqp=CAU">
                </div>
                <span class="feed_name_txt"> Jeong.hoo </span>
            </div>
            <div class="feed_img">
                <div id="carouselExampleIndicators2" class="carousel slide perimage" data-bs-touch="true"
                     data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe4W1WYZPsMqeA7_DX7xgWkK3FwVr4pao8hw&usqp=CAU"
                                 class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FTtWT5%2FbtrAMte5u3v%2F3DG6Qh3tYomYdWQeh8d5K1%2Fimg.jpg"
                                 class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcTR4Q1o5modKSjWSMpJw0ubPHm7HSpYcm4g&usqp=CAU"
                                 class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="feed_icon">
                <div class="notranslate">
                    <span class="material-icons-outlined">favorite_border</span>
                    <span class="material-icons-outlined">mode_comment</span>
                    <span class="material-icons-outlined">send</span>
                </div>
                <div class="notranslate">
                    <span class="material-icons-outlined">turned_in_not</span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"><b>좋아요 23개</b></p>
            </div>
            <div class="feed_content">
                <p class="feed_txt"><b> Jeong.hoo </b> 이시대의 꽃미남 정후의 달래입니다</p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b> mychew </b> 너무귀여워요 ㅠㅠ</span>
                <span class="feed_txt"> <b> cho </b> 사진더 ㄱ ㄱ </span>
            </div>
        </div>
        <div class="border feed_box">
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpiXTTuZETYY_Tym-zRCVhUXPEl_cioSn3Bg&usqp=CAU">
                </div>
                <span class="feed_name_txt"> Jeong.hoo </span>
            </div>
            <div class="feed_img">
                <div id="carouselExampleIndicators3" class="carousel slide perimage" data-bs-touch="true"
                     data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe4W1WYZPsMqeA7_DX7xgWkK3FwVr4pao8hw&usqp=CAU"
                                 class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FTtWT5%2FbtrAMte5u3v%2F3DG6Qh3tYomYdWQeh8d5K1%2Fimg.jpg"
                                 class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcTR4Q1o5modKSjWSMpJw0ubPHm7HSpYcm4g&usqp=CAU"
                                 class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="feed_icon">
                <div class="notranslate">
                    <span class="material-icons-outlined">favorite_border</span>
                    <span class="material-icons-outlined">mode_comment</span>
                    <span class="material-icons-outlined">send</span>
                </div>
                <div class="notranslate">
                    <span class="material-icons-outlined">turned_in_not</span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"><b>좋아요 23개</b></p>
            </div>
            <div class="feed_content">
                <p class="feed_txt"><b> Jeong.hoo </b> 이시대의 꽃미남 정후의 달래입니다</p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b> mychew </b> 너무귀여워요 ㅠㅠ</span>
                <span class="feed_txt"> <b> cho </b> 사진더 ㄱ ㄱ </span>
            </div>
        </div>
    </div>
    <div class="right_body">
        오른쪽화면
    </div>

</div>
</body>
</html>